
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    

</head>
<body>
    
    <h4>You need to Initialize the local DB using the button below to generate dummy candidates and certificates.</h4>
    <hr />
    <div class="text-center">
        <button onclick=location.href='@Url.Action("InitializeDBFromProgram","InitializeDB")' style="border-radius: 8px; background-color:orangered; color:aliceblue;";>Initialize Database</button>
    </div>
    <hr />
    <p>Don't worry the code has been ammended so that if you click it more than once it'll be OK</p>
</body>
</html>
