
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>This is wher you start your journey</title>

</head>
<body>
    <h4> You need to Initialize the local DB using the button below to generate dummy candidates and certificates.</h4>
    <hr />
    <div class="text-center">
        <button class="delete" onclick=location.href='@Url.Action("InitializeDBFromProgram","InitializeDB")' style="border-radius: 8px";>Initialize Database</button>
    </div>
    <hr />
</body>
</html>
